<footer class="u-pad-t-xl u-mrg-b-xl">

  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/anchor.min.js" | prepend: site.baseurl | prepend: site.url | cachebuster }}"></script>
  <script src="{{ "/js/clipboard.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <script src="{{ "/js/snippets.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/styleguide.js" | prepend: site.baseurl | prepend: site.url | cachebuster }}"></script>

</footer>

<div id="c-overlay" class="c-overlay">
  <div class="c-overlay__content"></div>
  <div class="c-overlay__background"></div>
</div>
