// Components :: Sidebar nav

@import "pack/seed-family/_index";
@import "pack/seed-helpscout-theme/_index";

.c-sidebar-nav {
  list-style: none;
  padding-left: 0;

  // Elements
  a {
    color: _color(charcoal, 200);
    transition: color 0.2s ease;
    will-change: color;

    @include parent(" > li.active > ") {
      color: _color(charcoal, 600);
    }

    @include parent("ul > li.active > ") {
      color: _color(charcoal, 600);
    }
  }

  ul {
    display:none;
    list-style: none;
    will-change: display;

    @include parent("li.active > ") {
      display: block;
    }
  }
}
