{% for section in site.data.seed-packs %}
  <li class="nav__item">
    <a href="#" data-section="{{ section.title | slugify }}" class="nav__link">
      {{ section.title }}
    </a>
    <ul class="c-list nav-secondary u-mrg-v-2" data-subsection="{{ section.title | slugify }}">
    {% for pack in site.packs %}
      {% if section.title == pack.section %}
      {% assign item_active_link_class = 't-tx-charcoal-200' %}
      {% if page.url contains pack.slug %}
        {% assign item_active_link_class = 'tx-600 t-tx-charcoal-300' %}
      {% endif %}
      <li class="nav-secondary__item" role="presentation">
        <a href="/packs/{{ pack.slug }}" class="{{ item_active_link_class }}">
          {{ pack.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
